<div class="container">
    <div>
      Welcome <b>{{name}}</b>.<br /> You have posted <b>{{postLength}}</b> time(s) and commented
      <b>{{commentLength}}</b> time(s).
      You can check your post and comment history below.
    </div>
    <hr />
    <div>
      Your Posts:
    </div>
    <app-post-tile [posts]="posts"></app-post-tile>
    <hr />
    <div>
      Your Comments:
    </div>
    <div *ngFor="let comment of comments">
      <div class="comment">
        <div>
          <p>{{comment.createdDate | utcdate}}</p>
        </div>
        <b>{{comment.text}}</b>
      </div>
      <hr />
    </div>
  </div>